.Cookie__Popup {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  max-width: 400px;
}

.Cookie__Popup h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.Cookie__Popup p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--quaternary-color);
}

.Cookie__Popup button {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.Cookie__Popup button.Accept {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
}

.Cookie__Popup button.Close {
  background-color: var(--primary-color);
  color: white;
}

.Cookie__Popup section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
